<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <img width="170" height="100" alt="Angular Logo" src="../../assets/header-img1.png">
    <h1>
      Task Management System  </h1>
  </div>
  
  <div class="limiter">
    <div class="container-login100">
      <div class="wrap-login100">
        <div class="login100-form-title" style="background-image: url('../../assets/bg-01.jpg');">
          <span class="login100-form-title-1">
            Sign In
          </span>
        </div>
  
        <form class="login100-form validate-form" #login="ngForm" (ngSubmit)="authentication(login)">
          <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
            <span class="label-input100">Username</span>
            <input class="input100" type="text" name="employeeId" placeholder="Enter username" required ngModel>
            <span class="focus-input100"></span>
          </div>
  
          <div class="wrap-input100 validate-input m-b-18" data-validate = "Password is required">
            <span class="label-input100">Password</span>
            <input class="input100" type="password" name="password" placeholder="Enter password" required ngModel >
            <span class="focus-input100"></span>
          </div>
          <div class="container-login100-form-btn">
            <input type="submit" class="login100-form-btn" value="Login">
              
            
          </div>
        </form>
      </div>
    </div>
  </div>
  
  
  <router-outlet></router-outlet>
  