<div id="main">
    <div id="site_content" style="margin-top: 0px">
        <div class="content">
            <h2>Update Working Hours</h2>
            <form #workingHoursForm="ngForm" id="updateForm" (ngSubmit)="updateTask(workingHoursForm)">
                <table>
                    <tr>
                        <th>Task ID</th>
                        <th>Date</th>
                        <th>Working Hours</th>
                        <th></th>
                    </tr>
                    <tr>
                        <td><select [(ngModel)]="updateTaskId" name="taskId">
                                <option *ngFor="let dev of details.items" value="{{dev.taskId}}">{{dev.taskId}}</option>
                              </select></td>
                        <td><input matInput type="date" name="date" ngModel></td>
                        <td><input matInput type="number" name="workedHours" ngModel></td>
                        <td><button mat-raised-button id="btn" type="submit">Update</button></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
    <div id="footer">
        <p><a href="https://contact.nec.com/http-in.nec.com_tb_root_contact/">Contact Us</a></p>
        <p>Copyright &copy; NEC Technologies India Private Limited 2019. All rights reserved.</p>
    </div>
</div>